sitemap.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="title">
    <xs:restriction base="xs:string" />
    <xs:attribute name="lang" type="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="img">
    <xs:restriction base="xs:string" />
    <xs:attribute name="src" type="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="description">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="author">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="created">
    <xs:restriction base="xs:date" />
  </xs:simpleType>  
</xs:schema>